<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title> Le Djassa</title>
</head>
<body>
    <a href="{% url 'index' %}">
        <h1> Le Djassa virtuel </h1>
    </a>

    {% if user.is_authenticated %}
    {{ user.username }}
    <a href="{% url 'logout' %}">Déconnexion</a>
    {% else %}
        <a href="{% url 'login' %}"> Connexion</a> <!--creer login dans l'url-->
        <a href="{% url 'signup' %}"> S'inscrire</a> 
    {% endif %}

    <!--afficher le panier-->
    {% if user.cart %}
        <p>
            <a href="{% url 'cart' %}">Voir le panier ({{ user.cart.orders.count }})</a>
        </p>
    {% endif %}


    {% block content %}
    {% endblock %}
</body>
</html>